<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.dao.testMapper">
  <resultMap id="BaseResultMap" type="com.accp.pojo.test">
    <id column="stuno" jdbcType="INTEGER" property="stuno" />
    <result column="stuname" jdbcType="VARCHAR" property="stuname" />
    <result column="stupwd" jdbcType="VARCHAR" property="stupwd" />
    <result column="stusex" jdbcType="VARCHAR" property="stusex" />
    <result column="studate" jdbcType="DATE" property="studate" />
    <result column="wq" jdbcType="BIT" property="wq" />
  </resultMap>
  <sql id="Base_Column_List">
    stuno, stuname, stupwd, stusex, studate, wq
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test
    where stuno = #{stuno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test
    where stuno = #{stuno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.test">
    insert into test (stuno, stuname, stupwd, 
      stusex, studate, wq)
    values (#{stuno,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{stupwd,jdbcType=VARCHAR}, 
      #{stusex,jdbcType=VARCHAR}, #{studate,jdbcType=DATE}, #{wq,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.test">
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuno != null">
        stuno,
      </if>
      <if test="stuname != null">
        stuname,
      </if>
      <if test="stupwd != null">
        stupwd,
      </if>
      <if test="stusex != null">
        stusex,
      </if>
      <if test="studate != null">
        studate,
      </if>
      <if test="wq != null">
        wq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuno != null">
        #{stuno,jdbcType=INTEGER},
      </if>
      <if test="stuname != null">
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stupwd != null">
        #{stupwd,jdbcType=VARCHAR},
      </if>
      <if test="stusex != null">
        #{stusex,jdbcType=VARCHAR},
      </if>
      <if test="studate != null">
        #{studate,jdbcType=DATE},
      </if>
      <if test="wq != null">
        #{wq,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.test">
    update test
    <set>
      <if test="stuname != null">
        stuname = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stupwd != null">
        stupwd = #{stupwd,jdbcType=VARCHAR},
      </if>
      <if test="stusex != null">
        stusex = #{stusex,jdbcType=VARCHAR},
      </if>
      <if test="studate != null">
        studate = #{studate,jdbcType=DATE},
      </if>
      <if test="wq != null">
        wq = #{wq,jdbcType=BIT},
      </if>
    </set>
    where stuno = #{stuno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.test">
    update test
    set stuname = #{stuname,jdbcType=VARCHAR},
      stupwd = #{stupwd,jdbcType=VARCHAR},
      stusex = #{stusex,jdbcType=VARCHAR},
      studate = #{studate,jdbcType=DATE},
      wq = #{wq,jdbcType=BIT}
    where stuno = #{stuno,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.accp.pojo.test">
    <id column="stuno" jdbcType="INTEGER" property="stuno" />
    <result column="stuname" jdbcType="VARCHAR" property="stuname" />
    <result column="stupwd" jdbcType="VARCHAR" property="stupwd" />
    <result column="stusex" jdbcType="VARCHAR" property="stusex" />
    <result column="studate" jdbcType="DATE" property="studate" />
  </resultMap>
  <sql id="Base_Column_List">
    stuno, stuname, stupwd, stusex, studate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test
    where stuno = #{stuno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test
    where stuno = #{stuno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.test">
    insert into test (stuno, stuname, stupwd, 
      stusex, studate)
    values (#{stuno,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{stupwd,jdbcType=VARCHAR}, 
      #{stusex,jdbcType=VARCHAR}, #{studate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.test">
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuno != null">
        stuno,
      </if>
      <if test="stuname != null">
        stuname,
      </if>
      <if test="stupwd != null">
        stupwd,
      </if>
      <if test="stusex != null">
        stusex,
      </if>
      <if test="studate != null">
        studate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuno != null">
        #{stuno,jdbcType=INTEGER},
      </if>
      <if test="stuname != null">
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stupwd != null">
        #{stupwd,jdbcType=VARCHAR},
      </if>
      <if test="stusex != null">
        #{stusex,jdbcType=VARCHAR},
      </if>
      <if test="studate != null">
        #{studate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.test">
    update test
    <set>
      <if test="stuname != null">
        stuname = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stupwd != null">
        stupwd = #{stupwd,jdbcType=VARCHAR},
      </if>
      <if test="stusex != null">
        stusex = #{stusex,jdbcType=VARCHAR},
      </if>
      <if test="studate != null">
        studate = #{studate,jdbcType=DATE},
      </if>
    </set>
    where stuno = #{stuno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.test">
    update test
    set stuname = #{stuname,jdbcType=VARCHAR},
      stupwd = #{stupwd,jdbcType=VARCHAR},
      stusex = #{stusex,jdbcType=VARCHAR},
      studate = #{studate,jdbcType=DATE}
    where stuno = #{stuno,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.accp.pojo.test">
    <id column="stuno" jdbcType="INTEGER" property="stuno" />
    <result column="stuname" jdbcType="VARCHAR" property="stuname" />
    <result column="stupwd" jdbcType="VARCHAR" property="stupwd" />
    <result column="stusex" jdbcType="VARCHAR" property="stusex" />
    <result column="studate" jdbcType="DATE" property="studate" />
  </resultMap>
  <sql id="Base_Column_List">
    stuno, stuname, stupwd, stusex, studate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test
    where stuno = #{stuno,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test
    where stuno = #{stuno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.accp.pojo.test">
    insert into test (stuno, stuname, stupwd, 
      stusex, studate)
    values (#{stuno,jdbcType=INTEGER}, #{stuname,jdbcType=VARCHAR}, #{stupwd,jdbcType=VARCHAR}, 
      #{stusex,jdbcType=VARCHAR}, #{studate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.pojo.test">
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuno != null">
        stuno,
      </if>
      <if test="stuname != null">
        stuname,
      </if>
      <if test="stupwd != null">
        stupwd,
      </if>
      <if test="stusex != null">
        stusex,
      </if>
      <if test="studate != null">
        studate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuno != null">
        #{stuno,jdbcType=INTEGER},
      </if>
      <if test="stuname != null">
        #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stupwd != null">
        #{stupwd,jdbcType=VARCHAR},
      </if>
      <if test="stusex != null">
        #{stusex,jdbcType=VARCHAR},
      </if>
      <if test="studate != null">
        #{studate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.pojo.test">
    update test
    <set>
      <if test="stuname != null">
        stuname = #{stuname,jdbcType=VARCHAR},
      </if>
      <if test="stupwd != null">
        stupwd = #{stupwd,jdbcType=VARCHAR},
      </if>
      <if test="stusex != null">
        stusex = #{stusex,jdbcType=VARCHAR},
      </if>
      <if test="studate != null">
        studate = #{studate,jdbcType=DATE},
      </if>
    </set>
    where stuno = #{stuno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.pojo.test">
    update test
    set stuname = #{stuname,jdbcType=VARCHAR},
      stupwd = #{stupwd,jdbcType=VARCHAR},
      stusex = #{stusex,jdbcType=VARCHAR},
      studate = #{studate,jdbcType=DATE}
    where stuno = #{stuno,jdbcType=INTEGER}
  </update>
</mapper>